* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #ffdf00;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.contenedorPrincipal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.containerImagen {
    /* background-image: url(./assets/10.png); */
    /* background-color: black; */
    /* background-size: cover; */
    /* background-position: center center; */
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
    z-index: 0;
}

.contenedorVideo{
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
}

#video{
    width: 280%;
    height: 100%;
    left: -60%;
    position: absolute;
    top: 0;
}

.placaVideo{
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenedorIconos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-left: 1rem;
    z-index: 15;
}

.iconoImagen {
    width: 2.2rem;
    margin-right: .5rem;
    transition: width .2s ease-in-out;
}

.iconoImagen:hover{
   width: 3rem;
}

.contenedorIconoPausa {
    display: none;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
    z-index: 15;
}

.iconoPausa {
    width: 1.5rem;
    display: flex;
}

.containerLogin {
    width: 95%;
    margin: 0 auto;
}

.logo {
    background-color: #272727;
    border-radius: 1rem;
    width: 22rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 5rem;
}

.imagenLogo {
    width: 20rem;
    padding: .5rem;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    background-color: #ffff;
    border-radius: 4.5rem;
    align-items: center;
    border: none;
    margin: .5rem;
    width: 70%;
    display: flex;
    transition: background-color .2s ease-in-out;
    height: 4.5rem;
    background-repeat: no-repeat;
    background-size: 3.5rem;
    background-position: .5rem;
}

.boton:first-of-type{
    background-image: url(./assets/gmai.png);
}

.boton:nth-of-type(2){
    background-image: url(./assets/facebook.png);
}

.boton:nth-of-type(3){
    background-image: url(./assets/mail.png);
}

.boton:hover{
   cursor: pointer;
   background-color: #cdcdcd;
}

.textoBoton {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    color: #272727;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.4rem;
}

.separacionLinea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.textoLinea {
    font-weight: bold;
    float: left;
    font-size: 120%;
}

.linea {
    margin: 0px 20px;
    width: 16rem;
    border-top: 1px solid #272727;
    position: relative;
    top: 10px;
    float: left;
}

.nuevoRegistro {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    margin-top: 2rem;
    font-weight: 700;
}

.registrateAhora {
    text-decoration: none;
    color: #3b83bd;
    transition: color .3s ease-in-out;
    font-weight: 700;
    font-size: 1rem;
}

.registrateAhora:hover{
    cursor: pointer;
    color: #00aae4;
}

.footer {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    margin: 3rem 3rem 4rem 3rem;
    font-size: 1rem;
    color: #272727;
}

.footer-aviso{
    cursor: pointer;
    color: black;
}

@media (max-width: 420px) {
    .contenedorPrincipal {
        display: flex;
        flex-direction: column;
    }

    .containerImagen {
        background-image: url(./assets/3.png);
        background-size: 80rem;
        background-position: top right;
        width: 100%;
        height: 20%;
        z-index: -2;
    }
    .contenedorIconoPausa{
        display: none;
    }
    .contenedorIconos{
        margin-left: 30%;
        padding-bottom: .5rem;
        width: 20%;
        position: fixed;
        bottom: 0;
    }
    .contenedorVideo{
        display: none;
    }
    .placaVideo{
        display: none;
    }
    .iconoImagen{
        margin-right: 2rem;
    }  
    .imagenLogo{
        width: 15rem;
    }
    .logo{
        margin-top: -15%;
        height: 6.3rem;
        width: 75%;
        margin-bottom: 4rem;
    }
    .footer{
        margin: 3rem 1rem 4rem 1rem;
        font-size: .9rem;
    }
    .nuevoRegistro{
        font-size: .9rem;
    }
    .boton, .separacionLinea{
        width: 93%;
        height: 3.5rem;
    }
    .textoBoton{
        font-size: 103%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .boton{
        background-size: 3rem;
        background-position: .4rem;
    }
    html::-webkit-scrollbar {
        display: none;
    }
    
}