* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #ffdf00;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.contenedorPrincipal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.containerImagen {
    background-image: url(./assets/10.png);
    background-color: black;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenedorIconos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.iconoImagen {
    width: 2rem;
    margin-right: .5rem;
}

.contenedorIconoPausa {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.iconoPausa {
    width: 1.5rem;
    display: flex;
}

.containerLogin {
    width: 95%;
    margin: 0 auto;
}

.logo {
    background-color: #272727;
    border-radius: 1rem;
    width: 22rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 5rem;
}

.imagenLogo {
    width: 20rem;
    padding: .5rem;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    background-color: #ffff;
    border-radius: 4.5rem;
    align-items: center;
    border: none;
    margin: .5rem;
    width: 70%;
    display: flex;
    transition: background-color .3s ease-in-out;
}

.boton:hover{
   cursor: pointer;
   background-color: #cdcdcd;
}

.textoBoton {
    margin-left: 29%;
    font-family: 'Montserrat', sans-serif;
    color: #272727;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.4rem;
}

.imagenGmailBoton,
.imagenFacebookBoton,
.imagenemailBoton {
    width: 4.2rem;
    margin: .3rem;
    display: flex;
    justify-content: flex-start;
}

.separacionLinea {
    display: flex;
    align-items: center;
    justify-content: center;

}

.textoLinea {
    font-weight: bold;
    float: left;
}

.linea {
    margin: 0px 20px;
    width: 13rem;
    border-top: 1px solid #272727;
    position: relative;
    top: 10px;
    float: left;
}

.nuevoRegistro {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    margin-top: 2rem;
}

.registrateAhora {
    text-decoration: none;
    color: #00aae4;
}

.footer {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    margin: 3rem 4rem 4rem 4rem;
    font-size: 1.2rem;
}

@media (max-width: 420px) {
    .contenedorPrincipal {
        display: flex;
        flex-direction: column;
    }

    .containerImagen {
        background-image: url(./assets/3.png);
        background-size: 80rem;
        background-position: top right;
        width: 100%;
        height: 20%;
    }
    .contenedorIconoPausa{
        display: none;
    }
    .contenedorIconos{
        margin-top: 190%;
        margin-left: 30%;
        padding-bottom: 1rem;
        padding-top: 2rem;
        width: 20%;
    }
    .iconoImagen{
        margin-right: 40%;
        width: 40%;
    }  
    .imagenLogo{
        width: 15rem;
    }
    .logo{
        margin-top: -15%;
        height: 6.3rem;
        width: 75%;
        margin-bottom: 4rem;
    }
    .footer{
        margin: 3rem 2rem 4rem 2rem;
        font-size: .9rem;
    }
    .nuevoRegistro{
        font-size: .9rem;
    }
    .boton, .separacionLinea{
        width: 93%;
        height: 3.5rem;
    }
    .textoBoton{
        font-size: 103%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .imagenGmailBoton,
    .imagenFacebookBoton,
    .imagenemailBoton{
    width: 3rem; 
    }
    html::-webkit-scrollbar {
        display: none;
    }
    
}