* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #272727;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Parte de la elección de cursos 6*/
.contenedorImagenLogo {
    display: flex;
    justify-content: flex-start;
}

.logoAteneo {
    width: 15%;
    margin: 4rem 0rem 2rem 4rem;
}

.headerCursosSeleecionar {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-size: 18rem;
    background-position-x: 6rem;
    background-position-y: 3rem;
    background-size: 15%;
    padding-top: 4.5rem;
}

.textoCursos {
    font-weight: 500;
    font-size: 2.5rem;
}

.iconoAteneoHeader {
    width: 2rem;
    margin-top: .5rem;
}

.containerCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 1.8rem;
}

.cardCurso {
    width: 100%;
}

.containerImagenCardCurso>.imagenCursoSeleccion {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.containerImagenCardCurso>.imagenCurso {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

.seleccionCurso {
    margin: 2rem 6rem 1rem 6rem;
}

.cardClick {
    text-decoration: none;
    color: black;
}

.imagenCursoSeleccion {
    margin-bottom: -.3rem;
}

.imagenCurso {
    margin-bottom: -.5rem;
}

.textoCurso {
    background-color: #fff;
    text-align: center;
    padding: 1.3rem 0 .6rem 0;
}

.nombreCurso {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.precioCurso {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.contenedorBtnSiguiente {
    display: flex;
    justify-content: flex-end;
}

.btnSiguiente {
    border-radius: .3rem;
    border: none;
    margin: .5rem 6rem 2rem 0rem;
    width: 15%;
    height: 4.5rem;
    font-family: 'Montserrat', 'sans-serif';
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    background: rgb(253, 97, 85);
    background: -moz-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: -webkit-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd6155", endColorstr="#f03c48", GradientType=1);
    cursor: pointer;
    display: flex;
    justify-content: center;
}


/* Parte Suscripción curso pantalla 7*/
.contenedorMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
    column-gap: 1.5rem;
}

.descripcionCurso {
    background-color: #fff;
    color: #000;
    grid-column: 1 / 3;
    padding: 3rem;
    font-family: 'Montserrat', 'sans-serif';
}

.tituloprincipaldescripcionCurso {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.descripcionCursoMain {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    margin: .5rem;
}

.suscripcionCurso {
    grid-column: 3 / 4;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.contenedorImagenProfesorCurso>.imagenProfesorCurso {
    object-fit: cover;
}

.imagenProfesorCurso {
    width: 100%;
}

.contenedorOpcionesCurso {
    width: 100%;
}

.precioCursoSuscripcion {
    background-color: #1b1b1b;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.precioCursoSuscripcion h3 {
    color: #ffdf00;
    font-weight: 300;
    font-size: 1.75rem;
}

.tiempoSuscripcion {
    background-color: #1b1b1b;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.tiempoSuscripcionCurso {
    color: #ffdf00;
    font-weight: 300;
    font-size: 1.75rem;
    background-color: #1b1b1b;
    border: none;
    font-family: 'Montserrat', 'sans-serif';
}

.contenedorBtnSuscribirme {
    width: 100%;
}

.btnSuscribirme {
    border-radius: .2rem;
    border: none;
    margin-top: 2rem;
    width: 100%;
    height: 4.5rem;
    font-family: 'Montserrat', 'sans-serif';
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    background: rgb(253, 97, 85);
    background: -moz-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: -webkit-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd6155", endColorstr="#f03c48", GradientType=1);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/*Parte del panel 8 */

.contenedorPrincipal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.navegacionDivision {
    border-right: .45rem solid #1b1b1b;
    height: 100vh;
    grid-column: 1 / 2;
}

.logoNavegacion {
    margin: 4rem 3rem 4rem 3rem;
    width: 17rem;
}

.contenedorSecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 0 3rem 0;
}

.contenedorSectionnav {
    width: 100%;
}

.contenedorSectionnav a {
    text-decoration: none;
}

.contenedorSectionnav h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
    width: 100%;
    font-size: 1.7rem;
}

.textContenedornav {
    padding: 1.5rem 0 1.5rem 0;
    cursor: pointer;
}

.bg-blackStrong {
    background-color: #1b1b1b;
}

.contenedorSectionnav .selected {
    color: #ffdf00;
}

.contenedorContenido {
    padding: 3rem;
    width: 100%;
    grid-column: 2 / 7;
}

.contenedorIndicadorSeccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloSeccion {
    color: #ffdf00;
    font-family: 'Montserrat', sans-serif;
}

.imagenFotoUsuario {
    width: 5.5rem;
}

.headerSeccion {
    background-color: #1b1b1b;
    margin: 2rem 0 2rem 0;
    text-align: center;
    padding: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeroStrongYellow {
    color: #ffdf00;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.textLean {
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
}

.strongWhite {
    font-size: 2rem;
    font-weight: 700;
}

.contenedorInicioContenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    color: #fff;
}

.contenedorcursosActivos {
    background-color: #1b1b1b;
    grid-column: 1 / 2;
    padding: .7rem;
}

.titleCursosActivos {
    text-align: center;
    font-weight: 300;
    font-size: 1.7rem;
    margin: 1rem;
}

.seccionesActivos {
    font-weight: 300;
    justify-content: space-between;
    display: flex;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
}

.nombreCursos {
    font-weight: 300;
    font-size: 1.7rem;
}

.duracionCursos {
    font-size: 1.7rem;
    font-weight: 500;
}

.cursoActivo {
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 1rem;
    border-bottom: 3px solid #ffdf00;
    padding: 1.5rem 0 1.5rem 0;
}

.cursoActivo:nth-child(2) {
    margin-bottom: 0 0 0 2.5rem;
}

.nombreCursoInicioPanel {
    font-weight: 300;
    font-size: 1.7rem;
}

.duracionCurso {
    font-size: 1.7rem;
    font-weight: 500;
}

.graficaLinealCursosActivos {
    background-color: #1b1b1b;
    grid-column: 2 / 4;
    padding: 2rem;
}


/* Parte de HISTORIAL DE PAGOS 9*/

.manaejodehistorial {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0rem 1.5rem 0rem;
}

.mostrarResultados h1 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
}

.MsgResultados {
    font-size: 1.2rem;
}

.buscadorHistorialPagos {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
}

.iconoBuscar {
    background: rgb(253, 97, 85);
    background: -moz-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: -webkit-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd6155", endColorstr="#f03c48", GradientType=1);
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: .5rem;
    cursor: pointer;
    width: 3rem;
}

.buscarPagosInput {
    width: 20rem;
    border: none;
    height: 2.5rem;
    border-radius: 2.5rem;
    font-size: 1.2rem;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.buscarPagosInput::placeholder {
    color: #000;
}
.font-white{
    color: #fff;
}
.tablaHistorialPagos{
    background-color: #1b1b1b;
    height: 21rem;
}
.btnImprimir{
    border: none;
    width: 10rem;
    height: 1.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffdf00;
    cursor: pointer;
}

.footerHistorial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.resultadosMostrados h1 {
    font-weight: 300;
    color: #fff;
    font-size: 1.2rem;
}
.paginacionHistorial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonPaginacion{
    width: 2.2rem;
    font-size: 1rem;
    height: 1.5rem;
    margin-top: 1rem;
}
.paginacionHistorial img {
    width: 1rem;
    margin: 2rem .5rem 1rem .5rem;
    cursor: pointer;
}

/*Parte de Cursos activos 10*/
.btnSiguienteCursosActivos {
    border-radius: .3rem;
    border: none;
    margin: 1.8rem 0rem 0rem 0rem;
    width: 25%;
    height: 4.5rem;
    font-family: 'Montserrat', 'sans-serif';
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    background: rgb(253, 97, 85);
    background: -moz-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: -webkit-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd6155", endColorstr="#f03c48", GradientType=1);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/*Parte de examenes cursos 11*/

.containerCardsExamenesCurso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    margin: 8.5rem 0rem 1rem;
}

.cardExamenCuro {
    background-color: #fff;
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/bgexa.png);
    background-position: top right;
    background-size: 35rem;
    background-repeat: no-repeat;
}


.cardExamenCuro h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

/*Parte de mi progreso 12*/

.progresoGraficoLinealCurso {
    background-color: #1b1b1b;
    margin-top: 3rem;
    padding: 1rem;
}

.contenedorTabla {
    margin-top: 1.5rem;
    width: 100%;
    color: #fff;
}

.tablaProgreso {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tablaProgreso tr {
    height: 3.5rem;
}

.tablaProgreso tr th {
    font-weight: 300;
    color: #ffdf00;
    font-size: 1.25rem;
}

.tablaProgreso .bg-black-lean {
    background-color: #1b1b1b;
}

.tablaProgreso .bg-black-strong {
    background-color: #141313;
}

/* Parte de examen aleatorio 13*/
.contenedorTemasSubcategoria {
    background-color: #1b1b1b;
    color: #fff;
    margin-top: 3.5rem;
}

.leyendaTodos h1 {
    font-weight: 300;
    font-size: 1.2rem;
    padding: 2rem;
    display: flex;
}

.BoxAmarillo {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ffdf00;
    margin: .2rem .8rem 0 .2rem;
}

.contenedorSubcategoria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    padding: 2rem 4rem 2rem 4rem;
}

.ColumnaSubcategoria h2 {
    margin: 1.5rem 0;
    font-weight: 400;
    color: #ffdf00;
}

.ColumnaSubcategoria h1 {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 2rem 0;
}

.ColumnaSubcategoria input {
    transform: scale(1.3);
    margin: .5rem;
}

.btnHacerTest {
    border-radius: .3rem;
    border: none;
    margin: 1rem 3rem 3rem 3rem;
    width: 23%;
    height: 4.5rem;
    font-family: 'Montserrat', 'sans-serif';
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    background: rgb(253, 97, 85);
    background: -moz-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: -webkit-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd6155", endColorstr="#f03c48", GradientType=1);
    cursor: pointer;
    display: flex;
    justify-content: center;
}



/* PARTE DE EXAMEN TEMA 15*/

.msgSalir {
    margin: 1.5rem;
}

.msgSalir h1 {
    font-weight: 300;
    color: #fff;
    font-size: 1.5rem;
}

.msgSalir a {
    text-decoration: none;
}

.contenedorlogoAteneoExamenTema {
    display: flex;
    justify-content: flex-end;
}

.logoAteneoExamenTema {
    width: 15rem;
    margin: -1rem 5rem 0 2rem;
}

.examentematituloSeccion {
    margin: 0rem 0rem 4rem 5rem;
}

.ContenedorbarraProgreso {
    margin: 2rem 5rem 2rem 5rem;
}

.ContenedorbarraProgreso h1 {
    font-weight: 300;
    font-size: 1.3rem;
    color: #fff;
    margin: 1rem 0rem 1rem 0rem;
}

.barraProgreso {
    background: #1b1b1b;
    border-radius: 10rem;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 1.5rem;
    width: 100%;
}

.progresoValor {
    animation: load 3s normal forwards;
    border-radius: 100px;
    background: #ffdf00;
    height: 1.5rem;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

.contenedorPregunta {
    margin: .5rem 5rem;
}

.contenedorPregunta .numeroPregunta {
    color: #ffdf00;
    font-weight: 300;
    font-size: 1.2rem;
}
.contenedorContenidoPregunta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.contenedorFoto {
    margin: 3rem 3rem 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    background-color: #fff;
}
.foto h1 {
    color: #9b9b9b;
}
.contenedorPreguntayRespuesta {
    grid-column: 2 / 4;
    padding: 3rem;
}

.contenedorTextoPregunta h1 {
    color: #fff;
    font-weight: 300;
    font-size: 1.25rem;
}
.alternativasPreguntas {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.alternativasPreguntas h1 {
    color: #fff;
    font-weight: 300;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.alternativaPreguntaIcono {
    margin: 2rem .5rem 1rem 0rem;
}
.alternativaPreguntaIcono span {
    background-color: #1b1b1b;
    padding: 1rem;
    border-radius: 55rem;
}
.contenedornumeroPreguntas {
    border-top: .45rem solid #1b1b1b;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.numeroPregunaIcono {
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}
.Preguntagreen span {
    background-color: #8cc63f;
    border-radius: 120rem;
    padding: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
}
.Preguntared span {
    background: rgb(253, 97, 85);
    background: -moz-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: -webkit-linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    background: linear-gradient(90deg, rgba(253, 97, 85, 1) 0%, rgba(240, 60, 72, 1) 58%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd6155", endColorstr="#f03c48", GradientType=1);
    border-radius: 120rem;
    padding: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}


/* RESPONSIVE DESGING*/

/*Pantalla número 6 */

.headerResponsive{
    display: none;
}

@media (max-width: 500px) {
    .headerCursosSeleecionar{
        background-image: none;
    }
    .headerResponsive{
        display: block;
        background-image: url(../assets/28.png);
        background-size: 27.5rem;
        background-repeat: no-repeat;
        background-position-x: right;
        width: 100%;
        z-index: 1;
    }
    .iconosControl{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .iconosControl img{
        width: 1.5rem;
    }
    .logoAteneoResponsive{
       display: flex;
       justify-content: center;
    }
    .logoAteneoResponsive img{
        width: 15rem;
        margin-top: 1rem;
        background-color: #272727;
        border-radius: 1rem;
        padding: 1rem;
    }
    .headerCursosSeleecionar{
        padding-top: .5rem;
    }
    .headerCursosSeleecionar h1{
        font-size: 2rem;
    }
    .headerCursosSeleecionar img{
        width: 1.5rem;
    }
    .containerCards{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
    .seleccionCurso{
        margin: 1rem 2rem 1rem 2rem;
    }
    .containerImagenCardCurso>.imagenCursoSeleccion{
        height: 6rem;
    }
    .textoCurso{
        padding: 0.3rem 0 0.6rem 0;
    }
    .nombreCurso, .precioCurso{
        font-size: .7rem;
    }
    .contenedorBtnSiguiente{
        justify-content: center;
    }
    .btnSiguiente{
        width: 10rem;  
        margin: .5rem 0 2rem 0;
        font-size: .9rem;
        padding: 1rem;
        height: 3rem;
    }
}